.nut-mo-chatbox {
    background-color: #003cff;
    color: white;
    padding: 16px 14px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    clip-path: circle(40%);
    height: 5em;
    width: 5em;
    text-align: center;
  }
 /* Ẩn chatbox mặc định */
  .Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 20px;
  }
 /* Thêm style cho form */
  .form-container {
    max-width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
  }
 /* thiết lập style textarea */
  .form-container textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
 /*thiết lập style cho textarea khi được focus */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
 /* Thiết lập style cho nút trong form*/
  .form-container .btn {
    background-color: #003cff;
    color: white;
    padding: 15px 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }/* Thiết lập màu nền cho nút đóng chatbox */
  .form-container .nut-dong-chatbox {
    background-color: rgb(0, 0, 0);
  }
 /* Thêm hiệu ứng hover cho nút*/
  .form-container .btn:hover, .nut-mo-chatbox:hover {
    opacity: 1;
  }